.dash-leaflet-main-map{
    filter: drop-shadow(0.1rem 0.2rem 0.4rem hsl(0deg 0% 63%))
}

.transit-mode-header-cell{
    padding: 0;
    margin-bottom: 0.5rem;
}

.transit-mode-header-inner{
    border-radius: 1.25rem;
    padding: .75rem;
    height: 100%;
    margin-left: .75rem;
    margin-right: .75rem;
    filter: drop-shadow(0.1rem 0.2rem 0.4rem hsl(0deg 0% 63%))
}